@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    height: 100%
}
:root {
    --light-blue-bg: #5D8AB5;
    --blue-bg: #1A365C;
    --blue-standart-bg: #1D1F2A;
    --dark-blue-bg: #19233f;
    --white: #fff;
}
.body{
    background-image: url(./imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat ;

}
.header{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33%;
    position: relative;
    top: 10px;
    
}
.main-tittle, .discover-bar{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-blue-bg);
}

.login-area{
   
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 100px;
}
.login-form{
    display: grid;
}
input{
    border-radius: 10px;
    height: 30px;
    width: 220px;
}
.email-input, .password-input{
    margin-bottom: 20px;
}
.login-button{
    border-radius: 10px;
    height: 30px;
    width: 230px;
    background-color: #1D1F2A;
    color: white;
    font-weight: bold;
    font-size:12px;
}
:hover.login-button{
    background-color: #5D8AB5;
}
.register-area{
    display: flex;
    font-size: 10px;
    gap: 90px;
    position: relative;
    top: 10px;
    text-decoration: underline;
    color: var(--blue-standart-bg);
    font-weight: bold;
}

:hover.register{
    color: var(--light-blue-bg);

}
/* RESPONSIVO PARA MOBILE */
@media screen and (max-width:320px) {
    html{
        height: 100%;
        width: 100%;
    }
    .header, .login-form, .logo{
        display: grid;
        margin:auto;
    }
    .main-tittle{
        margin: auto;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 100px;

    }
    .discover-bar{
        display: none;
    }
    .email-input,.password-input{
        width: auto;
    }
    .login-button{
        width: 170px;
    }
    .body{
        background-image: none;
    }
    .logo{
        display: grid;
        margin: auto;
        flex-direction: row;
        justify-content: center;
    }
    .body{
        background-image: url(./imagens/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat ;
    }
}
/* RESPONSIVO PARA MOBILE */
@media screen and (min-width:320.1px) and (max-width:450px) {
    .img-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 20px;
    }
    .body{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .discover-bar{
        display: none;
    }
    .main-tittle{
     position: relative;
     align-items: center;
     text-align: center;
     top: 100px;
     right: 10px;
    }
    .header{
        display: grid;
    }
}
/* RESPONSIVO PARA MOBILE */
@media screen and (min-width:450.1px) and (max-width:715px) {
    .discover-bar{
        display: none;
    }
    .header{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .main-tittle{
        position: relative;
        top: 100px;
        right: 15px;
    }
}
